body {
	text-align: center;
	margin: 0 20px;
	margin-bottom: 50px;
	background-image: url('/static/img/fabric.jpg');
	background-attachment:fixed;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

p, h1, h2 {
	color: #fff;
}

.modal {
	text-align: center;
}

.modal, button {
	color: #333;

}

.modal p {
	color: #000;
}

h1 {
	margin-bottom: 30px;
	z-index: 2;
	font-size: 40px;
}

h2 {
	font-size: 25px;
	font-weight: 300;
}

.resultcontainer{
	padding: 0;
	margin: 0;

}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
	opacity: .5;
	z-index: -1;

}

.box {
	width: 150px;
	height: 150px;
	background-color: #ccc;
	margin: 10px;
	display: inline-block;
	position: relative;
}


.result {
	width: 500px;
	height: 150px;
	background-color: #ccc;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	z-index: 2;
	opacity: .8;
}

div#persona{
	padding: 50px 150px;
}
div#persona{
	font-size: 16px;
}

#question {
	color: #666;
	font-size: 14px;
	margin: 10px;
	height: 20px;
}

.parent-wrap {
	vertical-align: top;
}

footer {
	margin-top: 20px;
}

.selected {
	background-color: #80ff95;
}

.question-data {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #333;
}

.ui-menu {
    background-color: #fff;
    text-align: left;
    color: #000;
}


div.top-three-results div.top-result {
	display: inline-block;
	padding: 20px;
	border-radius: 20px;

}

#game-container {
	display: none;
}

#homepage {
	height: 300px;
	/*max-width: 900px;*/
	width: 100%;
	margin-top: 300px;
	position: relative;
	top: 50%;
}

a {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

div.remaining-results div.top-result {
	display: inline-block;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
}

div.remaining-results {
	overflow-y: auto;
	bottom: 20px;
}

ul#experiences li {
	list-style-type: none;
}

ul#experiences li img {
	display: inline;
	width: 225px;
}

#homepage img {
	margin-bottom: 20px;
}

input {
	color: #333;
}

footer {
	bottom: 10px;
	position: fixed;
	text-align: center;
	left: 40%;
}