body {
	text-align: center;
	margin: 0 20px;
	margin-bottom: 50px;
	background-image: url('/static/img/fabric.jpg');
	background-attachment:fixed;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

p, h1, h2 {
	color: #fff;
}

h1 {
	margin-bottom: 30px;
	z-index: 2;
	font-size: 40px;
}

h2 {
	font-size: 25px;
	font-weight: 300;
}

.resultcontainer{
	padding: 0;
	margin: 0;

}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
	opacity: .5;
	z-index: -1;

}

.box {
	width: 150px;
	height: 150px;
	background-color: #ccc;
	margin: 10px;
	display: inline-block;
	position: relative;
}


.result {
	width: 500px;
	height: 150px;
	background-color: #ccc;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	z-index: 2;
	opacity: .8;
}

#persona{
	padding: 20px;
}

#question {
	color: #666;
	font-size: 14px;
	margin: 10px;
	height: 20px;
}

.parent-wrap {
	vertical-align: top;
}

footer {
	margin-top: 20px;
}

.selected {
	background-color: #80ff95;
}

.question-data {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #333;
}

.ui-menu {
    background-color: #fff;
    text-align: left;
}

div#persona {
	padding: 50px;
}

div.top-three-results div.top-result {
	display: inline-block;
	padding: 20px;
}

#game-container {
	/*display: none;*/
}

#homepage {
	height: 500px;
	/*max-width: 900px;*/
	width: 100%;
	margin-top: 200px;
	position: relative;
	top: 50%;
}

a {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
}

div.remaining-results div.top-result {
	display: inline-block;
	padding: 20px;
}

ul#experiences li {
	list-style-type: none;
}

ul#experiences li img {
	display: inline;
	width: 250px;
}

#homepage img {
	margin-bottom: 20px;
}