<!doctype html>
<html>
<head>
	<title>Path Finder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>

	<!-- LINK TO JQUERY FILE -->
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- LINK TO JQUERY UI FOR AUTOCOMPLETE -->
		<link rel="stylesheet" href="/static/js/jquery-ui.min.css">
		<script src="static/js/external/jquery/jquery.js"></script>
		<script src="static/js/jquery-ui.min.js"></script>
</head>
<body>
	<div id="homepage"><img src="/static/img/logo.png"><br><a href="#_" id="path"> >  find your path and fly  <</a></div>
	<div id="game-container">
		<h1>Path Finder</h1>
		<div>
			<label for="airportcodes"><h2>Which city are you in now?</h2></label><br>
			<input id="airportcodes" name="origin" tabindex="1" required>
		</div>
		<br>
		<div id="row1"></div>
		<div id="row2"></div>
		<div id="row3"></div>


	<div class="results-container">
		<div id="persona">
			</div> <!-- closing for persona --> 

			<div class="top-three-results">
			</div> <!-- closing for top three results -->

			<button id='load-more-results'>Load More Results...</button>

			<div class="remaining-results">
			</div> <!-- closing for remaining results -->
	</div> <!-- closing for results container -->


			<!-- EXPERIENCES MODAL WINDOW -->
			<div class="modal fade" id="experiences-feed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabelCity">Things To Do</h4>
			      </div>

			      <div class="modal-body">
			      	<ul id="experiences">


			      	</ul>
			      </div>

			      <div class="modal-footer">
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>

	<footer>Copyright ©Path Finder 2015 All Rights Reserved</footer>

	<script src="static/js/game.js"></script>
	<script>
		(function populateSquares() {
			for (var i=1; i<=4; i++) {
				$('#row1').append('<div class="box parent-wrap" id="box'+i+'"></div>');
			}
			for (var i=5; i<=8; i++) {
				$('#row2').append('<div class="box parent-wrap" id="box'+i+'"></div>');
			}
			for (var i=9; i<=12; i++) {
				$('#row3').append('<div class="box parent-wrap" id="box'+i+'"></div>');
			}

		})();
		$('#path').on('click', function() {
			$('#game-container').css('display','block')
		});
	</script>

		<!-- BOOTSTRAP -->
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


		<!-- THIS IS LINKING SUSAN'S JS FILE -->
		<script src="static/quizpath.js"></script>
</body>
</html>