<!doctype html>
<html>
<head>
	<title>Path Finder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/main.css">

		<!-- LINK TO JQUERY UI FOR AUTOCOMPLETE -->
		<link rel="stylesheet" href="../static/js/jquery-ui.min.css">
		<script src="../static/js/external/jquery/jquery.js"></script>
		<script src="../static/js/jquery-ui.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Path Finder</h1>
		<div>
			<label for="airportcodes">Enter Origin Airport: </label>
			<input id="airportcodes" name="origin" tabindex="1" required>
		</div>
		<div id="question-section">
			<div id="question"></div>
		</div>
		<hr>
		<div>
			<div class="box parent-wrap" id="box1"></div>
			<div class="box parent-wrap" id="box2"></div>
			<div class="box parent-wrap" id="box3"></div>
			<div class="box parent-wrap" id="box4"></div>
		</div>
		<div>
			<div class="box parent-wrap" id="box5"></div>
			<div class="box parent-wrap" id="box6"></div>
			<div class="box parent-wrap" id="box7"></div>
			<div class="box parent-wrap" id="box8"></div>
		</div>
		<div>
			<div class="box parent-wrap" id="box9"></div>
			<div class="box parent-wrap" id="box10"></div>
			<div class="box parent-wrap" id="box11"></div>
			<div class="box parent-wrap" id="box12"></div>
		</div>
	</div>
	<footer>Copyright ©Path Finder 2015 All Rights Reserved</footer>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script>
		var questions = {"box1": "I often buy new products before they become popular or come down in price.",
						"box3": "I have much more energy than most persons my age.",
						"box6": "I prefer to go to undiscovered, wild places rather than cities with big hotels and restaurants.",
						"box8": "I prefer setting up plans and having a routine rather than spontaneity.",
						"box9": "I am more intellectually curious than most people I know.",
						"box12": "I believe chance has little to do with the successes I've had in my life."
						}

		$(document).ready(loadFirstQuestion);

		function loadFirstQuestion() {
			$('#box1').addClass('selected');
			$('#box1').html('<div class="question-data">' + questions['box1'] + '<button class="btn btn-primary" type="button" id="option1">Yes</button> <button class="btn btn-primary" type="button" id="option2">No</button></div>');

		}


	</script>
</body>
</html>